[submodule "addons/ordomatics"]
	path = addons/ordomatics
	url = https://github.com/ordomatics/ordomatics.git
	sparseCheckout = n8n_connector/* n8n_crm/* llm_mssql/* llm_n8n/*
[submodule "addons/odoo-llm"]
	path = addons/odoo-llm
	url = https://github.com/moctarjallo/odoo-llm.git
	sparseCheckout = llm/* llm_thread/* llm_tool/* llm_assistant/* llm_mcp_server/* web_json_editor/* llm_generate/* llm_generate_job/* llm_anthropic/* llm_fal_ai/* llm_odoo/* llm_tool_product/*
[submodule "addons/oca/queue"]
	path = addons/oca/queue
	url = https://github.com/OCA/queue.git
	branch = 19.0
	sparseCheckout = queue_job/*
[submodule "addons/oca/rest-framework"]
	path = addons/oca/rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 19.0
	sparseCheckout = fastapi/*
[submodule "addons/oca/web-api"]
	path = addons/oca/web-api
	url = https://github.com/OCA/web-api.git
	branch = 19.0
	sparseCheckout = endpoint_route_handler/*
